body {
  background-color:#252525;
}

.no-border-radius {
  border-radius:0px;
}

.bg-black-granite {
  background-color:#101010;
}

.bc-black {
  border:1px solid #303130;
}

.bc-yellow-black {
  border:1px solid #594300;
}

.tc-white {
  color:#fff !important;
}

.tc-yellow {
  color:#f7c412 !important;
}

.bg-pattern-cube {
  background-color:#1f1f1f;
  background-image:url("https://www.transparenttextures.com/patterns/use-your-illusion.png");
}

.bg-black-granite-2 {
  background-color:#252525;
}

.opacity-8 {
  opacity:0.8;
}

.font-25px {
  font-size:25px;
}

.font-20px {
  font-size:20px;
}

.bg-black-granite:focus {
  background-color:#000;
  border-color:#daa507;
  box-shadow:0 0 0 0.2rem rgba(248, 192, 21, 0.21);
}

.font-weight-700 {
  font-weight:700 !important;
}

.btn-plugdo-yellow {
  color:#010101;
  border-color:#ffc106;
  background:-webkit-linear-gradient(top, #f9c015 0%,#a17e0d 100%);
}

.btn-plugdo-yellow:active {
  border-color:#ffc106 !important;
  color:#010101 !important;
  background-color:#b68400 !important;
}

.btn-plugdo-yellow:hover {
  color:#010101 !important;
  border-color:#ffc106 !important;
  background:-webkit-linear-gradient(top, #ffaf4b 0%,#ff920a 100%);
}

.btn-plugdo-yellow:focus {
  box-shadow:0 0 0 0.1rem rgba(255, 177, 2, 0.75);
}

.font-16px {
  font-size:16px;
}

.legend-plugdo {
  color:#ffffff !important;
}

.center-img {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

@media (min-width: 992px) {
  .container {
    padding:0 3em 1em 3em;
  }
}

@media (min-width: 768px) {
  .container {
    width:75%;
  }
}

@media (min-width: 768px) {
  .container-success {
    width:100% !important;
  }
}

@media (min-width: 300px) {
  .block-success {
    width:75% !important;
  }
}

@media (min-width: 992px) {
  .block-success {
    width:50% !important;
  }
}

@media (min-width: 992px) {
  .container-payment {
    width:60%;
  }
}

.font-advent-pro {
  font-family:'Abel';
}

.font-18px {
  font-size:18px;
}

.vertical-center {
  margin:0;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

.radio {
  -webkit-appearance:button;
  -moz-appearance:button;
  appearance:button;
  border:4px solid #2e2e2e;
  width:50px;
  height:50px;
  border-radius:50%;
}

.radio:checked {
  border:15px solid #f7c412;
  outline:none;
}

.container-welcome {
  width:100%;
}

.bg-plugdo-yellow {
  color:#010101;
  border-color:#ffc106;
  background:-webkit-linear-gradient(top, #f9c015 0%,#a17e0d 100%);
}

.bg-image-welcome {
  background-image:url("../../assets/img/519703.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-position:right;
}

.main-sidebar{
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 230px;
  z-index: 810;
  border-right: 1px solid #594300;
  background: #303130;
}

.sidebar{
  padding-bottom: 10px;
}

.sidebar-menu{
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-menu>li>a {
  padding: 5px 12px;
  display: block;
  text-decoration: none;
}

.sidebar-menu>li>a:hover {
  border-left: 3px solid #f7c412;
  padding: 5px 9px;
  display: block;
  text-decoration: none;
  background: #252525;
}

.sidebar-menu>li {
  position: relative;
  margin: 0;
  padding: 0;
}

.content-dash{
  z-index: 800;
  margin-left: 230px;
  padding: 10px
}

.input-search{
  background: #242424;
    color: white;
    border-bottom: 1px solid #242424;
    border-left: 1px solid #242424;
    border-top: 1px solid #242424;
    border-right: none;
}

/* tab color */
.nav-tabs>li>a {
  background: #303130 !important;
  color: #f7c412 !important;
  border-top: 2px solid #303130 !important;
  border-right: 1px solid #303130 !important;
  border-left: 1px solid #303130 !important;
}

.nav-tabs>li>a.active {
  background: #212925 !important;
  color: #f7c412 !important;
  border-top: 2px solid #594300 !important;
}


.example-2, .example-3, .example-4, .example-5, .example-6 {
  border: 1px solid #252525;
  border-radius: 4px;
}

.example-4, .example-5 {
  height: 700px;
}


.split, .split-flex {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  overflow-y: auto;
  overflow-x: hidden;
}


.gutter {
  background-color: #303130;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('/assets/css/grips/horizontal.png');
  cursor: ew-resize;
}

.gutter.gutter-vertical {
  background-image: url('/assets/img/vertical.png');
  cursor: ns-resize;
}

.gutter.gutter-vertical {
  background-image: url('grips/horizontal.png');
  cursor: ns-resize;
}

.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}






